*{
    margin: 0%;
    padding: 0;
}
.wrapper{
    width: 100%;

}

.img-banner{
    display: none;
}
.img-info{
    width: 100%;
}
.img-info h2{
    padding: 30px30px20px;
    font-family:Arial ;
    font-size: 50px;
    color: #111;
    line-height: 44px;
}
.img-info p{
    padding: 0px30px20px;
    font-family:Arial ;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}
.img-me{
    width: 100%;
}
 @media only screen and (min-width:768px) {
    .img-banner{
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }

    .wrapper{
        width: 600px;
        margin: 0% auto;
    }
 

img-info h2{
    padding: 20px0px0px;
    
}
.img-info p{
    padding: 20px0px0px;
}
.img-me{
    padding-top: 30px;
}
 }
 @media only screen and (min-width:1000px) {
    .wrapper{
        width: 1000px;
    }
    .img-info{
width: 50%;
float: right;
    }

    img-info h2{
        padding: 20px0px0px:30px;
        
    }
    .img-info p{
        padding: 20px0px0px:30px;
    }
    .img-me{
        padding-top: 0px;
        width: 50px;
        float: left;
    }
}
 